[Unit]
Description=cgweb service

[Service]
EnvironmentFile=/etc/default/cgwebpy
ExecStart=/usr/bin/cgwebpy $OPTIONS

RestartSec=1
Restart=on-failure

[Install]
WantedBy=multi-user.target
