Source: cgwebpy
Maintainer: Andrea Cattaneo <andrea@runme.sh>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 10),
               dh-python,
               python3-all-dev

Package: cgwebpy
Architecture: all
Depends: ${python3:Depends}, libcgroup1
Recommends: python3-systemd
Description: Cgroup daemon for LAMP server
 cgwebpy is cgroup daemon for limiting resources of LAMP server users