#!/usr/bin/make -f

export PYBUILD_NAME=cgwebpy

%:
	dh $@ --with python3 --buildsystem=pybuild

install:
	dh $@ --with=python3 --with=systemd --buildsystem=pybuild
	install -D -m 0644 service/cgwebpy.service  $(CURDIR)/debian/$(PYBUILD_NAME)/lib/systemd/system/cgwebpy.service
	install -D -m 0644 service/default          $(CURDIR)/debian/$(PYBUILD_NAME)/etc/default/cgwebpy
